{
  "openapi": "3.0.3",
  "info": {
    "title": "GitHub Public API",
    "description": "GitHub REST API v3 — public endpoints that work without authentication. Real live API at api.github.com",
    "version": "3.0.0"
  },
  "servers": [
    { "url": "https://api.github.com" }
  ],
  "paths": {
    "/users/{username}": {
      "get": {
        "summary": "Get a user profile",
        "parameters": [ { "name": "username", "in": "path", "required": true, "schema": { "type": "string" } } ],
        "responses": { "200": { "description": "User profile" }, "404": { "description": "Not found" } }
      }
    },
    "/users/{username}/repos": {
      "get": {
        "summary": "List user repositories",
        "parameters": [
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["created", "updated", "pushed", "full_name"] } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30 } }
        ],
        "responses": { "200": { "description": "Repository list" } }
      }
    },
    "/repos/{owner}/{repo}": {
      "get": {
        "summary": "Get a repository",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Repository details" }, "404": { "description": "Not found" } }
      }
    },
    "/repos/{owner}/{repo}/commits": {
      "get": {
        "summary": "List commits",
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30 } }
        ],
        "responses": { "200": { "description": "Commit list" } }
      }
    },
    "/search/repositories": {
      "get": {
        "summary": "Search repositories",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["stars", "forks", "updated"] } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30 } }
        ],
        "responses": { "200": { "description": "Search results" } }
      }
    },
    "/search/users": {
      "get": {
        "summary": "Search users",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "User search results" } }
      }
    }
  }
}
